apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app
  labels:
    app: weather-ml-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
        - name: weather-ml-container
          image: angostura/weather-ml-app:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20

