name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube

      - name: Start Minikube
        run: |
          minikube start --driver=docker
          minikube status

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml --validate=false
          kubectl apply -f k8s/service.yaml --validate=false
          kubectl apply -f k8s/serviceAccount.yaml --validate=false
          kubectl apply -f k8s/pod.yaml --validate=false

      - name: Describe deployment status
        run: kubectl describe deployments

      - name: Check pod status
        run: kubectl get pods -o wide

      - name: Show pod logs
        run: |
          POD_NAME=$(kubectl get pods -l app=weather-ml-app -o jsonpath="{.items[0].metadata.name}" 2>/dev/null || true)

          if [ -z "$POD_NAME" ]; then
            echo "No pod found for app=weather-ml-app. Skipping logs."
            exit 0
          fi

          echo "Showing logs for pod: $POD_NAME"
          kubectl logs $POD_NAME