name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      # (g) Deploy to Kubernetes
      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      
      - name: Install Kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.23.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      
      - name: Create Kind cluster
        run: kind create cluster --name weather-ci

      
      - name: Deploy to Kind
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout status deployment/weather-ml-app
