name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      
      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube

      
      - name: Start Minikube
        run: |
          minikube start --driver=docker
          minikube status

      
      - name: Set kubeconfig
        run: |
          mkdir -p $HOME/.kube
          cp $HOME/.minikube/profiles/minikube/config.json $HOME/.kube/config

      # (g) Deploy to Kubernetes
      - name: Deploy to Minikube
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout status deployment/weather-ml-app

